.bg-img1 {
    background-color: black;
    background-size: cover;
    height: 650px;
    background-image: url(https://i.pinimg.com/736x/31/46/49/3146494054a879448f2701e6954774a3.jpg);
}
.bg-img2 {
    background-color: black;
    background-size: cover;
    height: 660px;
    background-image: url(https://i.pinimg.com/736x/31/46/49/3146494054a879448f2701e6954774a3.jpg);
}

.bg-img3 {
    background-color: black;
    background-size: cover;
    height: 650px;
    background-image: url(https://i.pinimg.com/736x/31/46/49/3146494054a879448f2701e6954774a3.jpg);
}
